:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

@import "./components/CSSFolder/Header.css";
@import "./components/CSSFolder/Entry.css";
@import "./components/CSSFolder/Home.css";
@import "./components/CSSFolder/Login.css";
@import "./components//CSSFolder/Signup.css";
@import "./components/CSSFolder/Task.css";
@import "./components/CSSFolder/TaskList.css";

body{
  margin: 0%;
  padding: 0%;
  background-color: #E1B1B1;
  font-family: Arial, Helvetica, sans-serif;
}