
.HeaderStyle{
    background-color: #D2CAE2;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px pink;
    padding-bottom: 5px;
}

.LoginButtonContainer{

}

.Buttons{
    margin: 20px;
    padding: 6px;
    box-shadow: black;
    box-shadow: 7px 7px;
    border-top-left-radius: 15px;
}



