.MyTasksCardContainer{
    display: flex;
    flex-direction: column;
}


.MyTasksCards{
    display: flex;
    flex-direction: row;   
    background-color: #B5C7DB;
    align-items: baseline;
    justify-content: flex-start;
    margin: 15px;
    box-shadow: 10px 10px #6D6D6D;
    min-width: 60vw;
}

#MyTaskTitle{
    justify-self: left;
    min-width: 20vw;
    display: flex;
    margin-left: 10px;
}

#MyTaskAbout{
    justify-self: left;
    min-width: 60 vw;
}