
#TaskPageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.PageHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E1B1B1;
}
.HeaderPageSpacer{
    width: 100vw;
    background-color: black;
    height: 3vh;
    align-self: baseline;
}

.HeaderText{
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 7px 7px pink;
}
.TaskPageForm{
    margin: 2%;
}
.TaskCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DED2B2;
    margin: 2%;
    width: 20vw;
    height: 25vh;
    border-radius: 30px;
}

.Cards{
    display: flex;
    flex-wrap: wrap;
}

.Dropdown{

}